<div class="about-me">
  <div class="about-me__header">
    <h2 class="about-me__title">About me</h2>
    <a routerLink="/"> <mat-icon>keyboard_backspace</mat-icon> </a>
  </div>
  <p class="about-me__text">
    Hello, and welcoe on this project site Lorem ipsum dolor sit, amet
    consectetur adipisicing elit. Neque porro tempore natus consequatur, hic
    nesciunt dicta adipisci omnis libero quae ab rem eos necessitatibus
    inventore vitae labore. Deleniti adipisci similique cupiditate doloremque
    minus ratione natus, earum tempora necessitatibus repellendus mollitia
    quibusdam explicabo, ad aliquid eum sapiente aliquam quis porro tempore hic
    nostrum! Omnis deserunt cum est consequuntur voluptatibus at exercitationem
    minima nesciunt a aliquam dolores iusto porro minus numquam odio laudantium
    sed esse tempore, sequi error magnam quis modi. Soluta, esse quaerat!
    Officia, autem tempora error voluptates nam harum repellendus! Impedit
    explicabo eligendi repellendus officia! Ullam maxime commodi ea quos!
  </p>
</div>
