.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.project-info {
  position: absolute;
  bottom: 20px;
}

.project-info__menu-items {
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
}

.project-info__menu-link {
  text-decoration: none;
  color: #1a202c;
  position: relative;
  white-space: nowrap;
  z-index: 0;
  font-weight: 300;
  margin-right: 15px;
}

.project-info__menu-link:hover:after {
  top: 0%;
}

.project-info__menu-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 90%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 300ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #bee3f8;
}

.project-info__menu-link:nth-last-child(1) {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #1a202c;
}
