<div class="container">
  <div class="title">
    <h1>LEAPYE.AR</h1>
  </div>
  <div class="form-group form-container">
    <label for="power"></label>
    <input class="form-input" id="power" required />
    <p class="form-input__hint">Hint: Type the year and hit enter</p>
  </div>
  <div class="project-info">
    <ul class="project-info__menu-items">
      <li class="project-info__menu-link">About this project</li>
      <li class="project-info__menu-link">About me</li>
      <li class="project-info__menu-link">Check my .dev site</li>
    </ul>
  </div>
</div>
