<div class="container">
  <router-outlet></router-outlet>
  <div class="project-info">
    <ul class="project-info__menu-items">
      <li class="project-info__menu-link">
        <a routerLink="/about-this-project">About this project</a>
      </li>
      <li class="project-info__menu-link">
        <a routerLink="/about-me">About me</a>
      </li>
      <li class="project-info__menu-link">
        <a href="http://www.ballaschottner.dev" target="_blank"
          >Check my .dev site</a
        >
      </li>
    </ul>
  </div>
</div>
